* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: peru;
}

#thumbnail-container {
    width: 400px;
    height: 150px;
    background-color: aliceblue;
    display: flex;
    
}

.small-image {
    width: 150px;
    height: 150px;
}